/* Google fonts */
/* Poppins */

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;500;600;700&display=swap');

* {
	font-family: 'Gothic A1', sans-serif;
	user-select: none;
}

/* Ensure images are responsive */
img {
	max-width: 100%;
	height: auto;
}


/* Prevent horizontal scroll on mobile */
body {
	overflow-x: hidden;
}

/* Global Class */
.responsive-container {
	@apply w-full md:w-6/12 lg:w-full md:mx-auto px-4 sm:px-6 lg:px-8
}
